body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
/* styling the whole container */
.container {
  border-radius: 20px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 300px 300px;
  height: 400px;
  background-color: white;
  width: 600px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 900px) and (min-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    height: 100%;
    padding-bottom: 40px;
  }
}
@media (max-width: 499px) {
  .container {
    grid-template-columns: 300px;
    height: 100%;
    max-width: 300px;
    border-radius: none;
    padding-bottom: 40px;
    border-radius: 0px;
  }
}
/* styling the section1 */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(1, 1, 228);
  color: white;
  border-radius: 20px;
}
.section1 .result-title {
  color: #e2e2e2;
  border: none;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.section1 .result-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  height: 100px;
  width: 120px;
  background-color: #1c00b9d2;
  color: #e2e2e2;
  border-radius: 80px;
  padding: 10px 10px 20px 10px;
  margin-bottom: 40px;
}
.result-number .score {
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.section1 .result-compliment {
  text-align: center;
  line-height: 25px;
  color: #e2e2e2;
  width: 200px;
}
.section1 .compliment {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22;
  padding-bottom: 20px;
}

/* styling section2 */
.section2 {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px 35px 0px 35px;
}
.section2 .summary-title {
  display: flex;
  margin: 30px 0px 25px 0px;
}
.reaction .main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main img {
  margin-right: 5px;
}
.reaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd9df;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
}
.reaction .main p {
  color: #fa6077;
}
.reaction .main-score .overall {
  color: lightgrey;
}

.memory .main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main img {
  margin-right: 5px;
}
.memory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fffbc6;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.memory .main p {
  color: #e7d803;
}
.memory .main-score .overall {
  color: lightgrey;
}

.verbal .main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main img {
  margin-right: 5px;
}
.verbal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #bcf2ff;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.verbal .main p {
  color: #13a6b1;
}
.verbal .main-score .overall {
  color: lightgrey;
}

.visual .main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main img {
  margin-right: 5px;
}
.visual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b3bbfd;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.visual .main p {
  color: #4a5dff;
}
.visual .main-score .overall {
  color: lightgrey;
}

.continue-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 72, 253);
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 20px;
  transition: background-color 0.15s;
}
.continue-btn a:hover {
  background-color: black;
}
